<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Poker Face - Poster Shop</title>
  </head>

  
  <body>
    <div>
    <div class=""container">
      {{#if success_messages }}        
            {{#each success_messages}}
                <div class="alert alert-success">
                    {{this}}
                </div>
            {{/each}}        
        {{/if}}

        {{#if error_messages}}
            {{#each error_messages}}
                <div class="alert alert-danger">
                    {{this}}
                </div>
            {{/each}}       

        {{/if}}

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/posters">Postery</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/posters">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posters/create">Add New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact-us">Content Us</a>
        </li>
      </ul>
      <span class="navbar-text">
        {{#if user}}
                    Welcome back, <a href="/users/profile" class="ml-3 btn btn-primary btn-sm">{{user.username}}</a>

                    <a href="/users/logout" class="ml-3 btn btn-primary btn-sm">Logout</a>
                    <a href="/cart" class="btn btn-success btn-sm">Cart</a>

                    {{else}}
                    
                    <a href="/users/login" class="ml-3 btn btn-primary btn-sm">Login</a>
                    <a href="/users/register" class="ml-3 btn btn-primary btn-sm">Create Account</a>
                    {{/if}}
      </span>
    </div>
  </div>
</nav>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        

        {{#block "content"}}{{/block}}
    </div>
    </div>
    {{#block 'js'}}
        {{/block}}
  </body>

  


</html>